footer {
    background: darken($background-colour-secondary,80%);
    & h1 {
        color: $background-colour-primary;
        font-size: 20px;
    }
    & ul {
        color: $background-colour-primary;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        margin: 0;
    }
    & li {
        margin: 5px 0;
        & i {
            width: 25px;
            text-align: center;
        }
    }
}