footer {
    background: darken($background-colour-secondary,80%);
    & h1 {
        color: $background-colour-primary;
        font-size: 20px;
    }
    & ul {
        color: $background-colour-primary;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        margin: 0;
    }
    & li {
        margin: 5px 0;
        & i {
            width: 25px;
            text-align: center;
        }
    }
}

// Media Queries

@media only screen and (min-width : 1024px) {
   footer {
       & ul {
           flex-direction: row;
           justify-content: space-around;
           padding: inherit;
           padding-bottom: 50px;
           margin: 0 10%;
       }
   }
}