a {
    text-decoration: none;
    color: inherit;
    &:visited{
        color: inherit;
    }
}

h1, h2 {
    padding: 20px 5%;
    margin: 0px;
}

h3, p {
    padding: 0 5%;
    margin: 0px;
}

.menu h3 {
    padding: 0 0 0 5%;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu p {
    padding: 0 0 0 5%;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// mettre dans menu.scss
