.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darken($background-colour-secondary,10%);
    & p{
        padding: 15px;
        & i {
            padding-right: 5px;
        }
    }
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $background-colour-secondary;
}

.functioning {
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        list-style: none;
    }
    &__items{
        background: $background-colour-secondary;
        padding: 10px 25px;
        margin: 15px;
        border-radius: 20px;
        @include shadow;
        & i {
            padding-right: 5px;
        }
       &::before {
        border-radius: 20px;
        background: $colour-secondary;
        counter-reset: section;
        content: counter(section, decimal);
        counter-increment: section;
        position: relative;
        right: 30px;
        padding: 5px;
        height: 7px;
        text-align: center;
       }

    }
}
.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-colour-secondary;
    & h2{
        align-self: flex-start;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 90%;
    max-width: 350px;
    margin:10px;
    @include shadow;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition: 300ms;
        box-shadow:5px 5px 10px -3px $colour-primary;
    }
    & img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &__description {
        background: $background-colour-primary;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__name {
            width: 100%;
        }
        & i {
            font-size: 20px;
            margin-right: 10px;
            text-align: center;            
        }
    }
}
.heart__full {
    transform: scale(0);
    position: absolute;
    right: 0px;
}


.heart__empty {
    &:hover + .heart__full {
        animation: grow 500ms ease-in-out both;
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}