.banner{
    width: 100%;
    height: 400px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.menu {
    background: $background-colour-secondary;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: -50px;
    margin: auto;
    margin-bottom: -50px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & i {
            width: 50px;
            text-align: center;
            font-size: 25px;
            margin-right: 5%;
        }
        & .heart__full {
            transform: scale(0);
            position: absolute;
            right: 0px;
            pointer-events: none;
        }
        & .heart__empty {
            &:hover + .heart__full {
            animation: grow 500ms ease-in-out both;
            color:transparent;
            @include gradiant;
            }
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2 {
            align-self: flex-start;
            &::after {
                content: '';
                display: block;
                width: 50px;
                height: 4px;
                background: $colour-tertiary;
            }
        }
    }
    &__card {
        @include shadow;
        margin: 5px;
        width: 90%;
        height: 70px;
        background: $background-colour-primary;
        border-radius: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        &__desc {
            width: 100%;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
        }
        &__name {
            width: 100%;
            overflow: hidden;
        }
        &__price {
            padding: 15px;
            text-align: center;
            transform: translateX(60px);
            position: absolute;
            right: 65px;
            top: 11px;
        }
        &__valid {
            background: $colour-tertiary;
            padding: 0 16px;
            text-align: center;
            border-radius: 0 20px 20px 0;
            height: 100%;
            transform: translateX(60px);
            & i {
                transform: rotate(0deg);
                color: $background-colour-primary;
                font-size: 25px;
                margin-top: 21px;
            }
        }
        &:hover > .menu__card__valid{
            transform: translateX(0);
            transition: 1s ease;
        }
        &:hover > .menu__card__price{
            position: inherit;
            transform: translateX(0);
            transition: 1s ease;
        }
        &:hover > .menu__card__valid i{
            transform: rotate(360deg);
            transition: 750ms ease;
        }
    }
    & .button{
        align-self: center;
    }
}




.card{
    &__slide{
        &--1{
            animation: slide 1000ms ease-in-out both;
        }
        &--2{
            animation: slide 1000ms ease-in-out 500ms both;
        }
        &--3{
            animation: slide 1000ms ease-in-out 1000ms both;
        }
        &--4{
            animation: slide 1000ms ease-in-out 1500ms both;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
